<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    
    .marginn {
      margin-left: 18%;
    }

    .logo {
      width: 200px;
      height: 60px;
      margin-top: 10px;
    }
  </style>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://127.0.0.1:8000/"><img class="logo"
          src="https://www.livewireindia.com/livehack/images/livewirelogo.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse marginn" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="http://127.0.0.1:8000/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/todos/about">AboutUs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/todos/add">Add Your Feedback</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/todos/">All Feedbacks</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              User
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="http://127.0.0.1:8000/acc/signup">Signup</a></li>
              <li><a class="dropdown-item" href="http://127.0.0.1:8000/acc/login">SignIn</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="http://127.0.0.1:8000/acc/logout">SignOut</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="http://127.0.0.1:8000/todos/contact">Contact</a>
          </li>
        </ul>

      </div>
      <div>
        {%if user.is_authenticated%}
        <p style="color: white;margin-top:7%">Hii, {{user.username}}!!!Welcome<a style="text-decoration:none ;" href="{% url 'logout'%}">&nbsp;&nbsp;&nbsp;Logout</a></p>
        {%endif%}
      </div>
    </div>
    
  </nav>
  

</body>

</html>