{%extends 'base.html'%}
{%block content%}

<div
    style="width: 100%; height: 700px; background-image: url('https://lh3.googleusercontent.com/9zE3StG50FuHs9PCo6kMTIhWKyIc3vJ2JqxPZEgaKc8WQ2vzAyWR4wqYYhMZ7zkhc0C893COYflGKt70Sb15e4gg7eI=w640-h400-e365-rj-sc0x00ffffff');background-size:100% 100%; ">
<!-- absolute rakhne se wo piche wale div ko chhod dega -->
    <div style="margin-top:2%; position: absolute; padding-top: 2%; background-color: rgb(201, 196, 196);width:30% ; height:650px;margin-left: 38%; border-radius: 10% ; "
        class="container">
        <!-- <h4 align="center">Create Account</h4><br><br>
        <input style="border-style: none; margin-left: 20%;" type="text" placeholder="Name"
            class="text"><br><br>
        <input style="border-style: none; margin-left: 20%;" type="text" placeholder="Email Address"
            class="text"><br><br>
        <input style="border-style: none; margin-left: 20%;" type="password" placeholder="Create Password"
            class="text"><br><br>
        <input style="border-style: none; margin-left: 20%;" type="password" placeholder="Confirm Password"
            class="text"><br><br>
        <input style="margin-left: 20%;width: 58%;" type="button" class="btn btn-primary" value="Sign Up"> -->
        <form method="post">
            <h1 align="center">Register yourself</h1>
            <br>
            {%csrf_token%}
            <!--  it is  akind of attribute which redirect the form from backend to frontend -->
            {{form.as_p}}
            <button style="width:56%; margin-left: 20%;" class="btn btn-primary" type="submit" name="signup">Signup</button>
        
        
        </form>
    </div>
</div>
{%endblock%}