{% extends 'base.html'%}

{%block content%}



<div style="width: 100%; height: 700px; background-image: url('https://lh3.googleusercontent.com/9zE3StG50FuHs9PCo6kMTIhWKyIc3vJ2JqxPZEgaKc8WQ2vzAyWR4wqYYhMZ7zkhc0C893COYflGKt70Sb15e4gg7eI=w640-h400-e365-rj-sc0x00ffffff');background-size:100% 100%; "
    class="row">

    <div class="column">


        <div
            style=" position: absolute; padding-top: 2%; background-color: rgb(201, 196, 196);width:25% ; height:600px;margin-left: 35%; border-radius: 10% ; ">
                <h4 align="center">You can give your valuable feedback here</h4>
                <h3 align="center">Add Your Feedback</h3>

                <form style="text-align: center;margin-top:20px ;" method="post">
                    {%csrf_token%}
                    {{form.as_p}}
                    <!-- <h4 align="center">Enquiry form</h4><br><br>
            <input type="text" placeholder="Name" class="text"><br><br>
            <input type="text" placeholder="Email" class="text"><br><br>
            <input type="text" placeholder="Mobile" class="text"><br><br>
            <input type="text" placeholder="Your Query" class="text"><br><br>
            <input style="width:56%;" type="button" class="btn btn-primary" value="Submit"> -->
                    <button style="width:56%;" class="btn btn-primary" type="submit">Submit</button>
                </form>
                <a style="text-decoration: none;margin-left: 18%; color: black;" href="http://127.0.0.1:8000/todos/">You can view feedbacks here</a>
        </div>
    </div>
</div>

{%endblock%}